.App {
  /* text-align: center; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* color: white; */
  min-height: 100vh;
  background-image: linear-gradient(79deg,#6f7176, #7f868dc3 48%, #dbdfe368)
}

