.sheets-container {
  padding:180px;
  padding-bottom:50px;
}

.page-title {
  color: white;
  font-size:x-large;
  padding-bottom: 40px;
}

.link-to-dashboard {
  color: white;
  display:flex;
  justify-content: center;
  padding-top: 40px;
}