<html>
  <head>
    <title>test page</title>

    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer">
  </script>
  <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/jquery.js"></script>

  </head>

  <body style="background-color: #171717; color: rgb(173, 179, 185); font-size: 30px; display: flex; flex-direction: column; margin-top: 80px; justify-content: center; align-items: center;">

    <section id="t" >
     test
    </section>

  </body>
</html>